.header{
    background: #e4e6eb;
    height: 60px;
    width: 100%;
}
body{
    margin: 0;
}

.main-content{
    height: 636px;
    width:100%;
    background: #e4e6eb;
}

.left{
    height: 500px;
    width: 50%;
    background: #e4e6eb;
    float: left;
}
.right{
    height: 500px;
    width: 50%;
    background: #e4e6eb;
    float: right;
}


.image{
    padding-top: 13px;
    padding-left: 183px;
    height: 200px;
    width: 323px;
    padding-top: 40px;
    padding-left: 230px;

}

.tagline {
    padding-left: 332px;
    font-weight: 100;
    font-size: 28px;
    margin: -72px
}

.login{
    background: #fff;
    border-radius: 9px;
    height: 324px;
    width: 416px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    margin-top: 36px;
}

.form{
    padding-top: 33px;
    padding-left: 11px;
}
.input{
    height: 42px;
    width: 375px;
    font-size: 17px;
    padding-left: 12px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    margin-bottom: 12px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.button{
    height: 49px;
    
    border-radius: 6px;
    border: 1px solid;
    font-size: 15px;
    margin-bottom: 12px;
    border-color: #e4e6eb;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.link{
    font-size: 14px;
    padding-left: 147px;
    color:#0866ff;
    text-decoration: none;
}

.footer{
    padding-top: 100px;
    text-align: left;
    height: 200px;
    width:100%;
    background: #fff;
    font-size: 14px;
    
}



